#navWrapper {
    text-align: center;
}

#navComponent {
    padding: 70px 0 0 0;
    margin: auto;
}
.navLink {
    background: black;
    color: #fae06e;
    margin: 0 2%;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid black;
}

.navLink:hover {
    background: #fae06e;
    color: black;
}